body {
  text-align:center;
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
  display:flex;
  justify-content: center;
}

table, td,  th {
  padding:20px;
  margin-bottom: 30px;
  border-radius: 20px;
  border-spacing: 20px;
  color:#FFFCF7;
}

thead, .input-box {
  border: 1px solid gray;
  background-color: #738290;
  border-radius: 30px;
  color: #FFFCF7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

tbody {
  border: 1px solid gray;
  border-radius: 20px;
  border-spacing: 20px;
}

tbody tr:nth-child(even) {
  background-color: #A1B5D8;
}

tbody tr:nth-child(odd) {
  background-color:#BFCDE5;
}

button {
  font-size: 25px;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:aliceblue;
  border-radius:20px;
  border: 1px solid gray;
  padding: 10px;
}

.input-box {
  width:80%;
  margin: 0 auto;
  padding: 15px;
}

input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
