$main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-color: #FFFCF7;
$border-radius: 20px;
$border-spacing: 20px;
$border: 1px solid gray;
$map-back:#efeeee;

body {
  font-size: 35px;
  font-family: $main-font;
  text-align:center;
}

.main {
  margin: 100px;
  padding-bottom: 30px;
}

.table-container {
  display:flex;
  justify-content: center;
}

table {
  padding: 20px;
  width: 80%;
  border-spacing: $border-spacing;

  td, th {
    border-radius: $border-radius;
    color: $font-color;
    padding: 20px;
  }

  thead {
    background-color: #738290;
    border: $border;
    color: $font-color;
    font-family: $main-font;
    font-weight: bold;
  }

  tbody {
    border: $border;
    border-radius: $border-radius;

    tr:nth-child(even) {
      background-color: #A1B5D8;
    }

    tr:nth-child(odd) {
      background-color: #BFCDE5;
    }
  }
}

button {
  background-color:aliceblue;
  border: $border;
  border-radius:10px;
  font-family: $main-font;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
}

.input-box {
  background-color: #738290;
  border: $border;
  border-radius: $border-radius;
  color: $font-color;
  font-family: $main-font;
  font-weight: bold;
}

.input-box {
  margin: 0 auto;
  padding: 15px;
  width:80%;
}

input {
  border: $border;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.map-container {
  background-color: $map-back;
  display: flex;
  justify-content: center;
  margin: 90px;
  padding: 50px 0;
}

h3 {
  margin: 0 100px 50px;
  padding: 15px 0 35px;
  background-color: $map-back;
  color: $font-color;
}

.map {
  width: 80%;
  height: 1000px;
  position: relative;
}