#body {
    display: grid;
    grid-template-columns: 30% 70%;
}

#side-bar {
    padding-right: 10px;
}

#main-content {
    padding:10px;
}
 
img {
    width: 500px;
    margin: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.recipe img {
    max-width: 100px;
    height: auto;
}
.recipe-details {
    display: none;
}
.recipe-button {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}



